*{
    margin:0;
    padding:0;
    line-height: 1;
    box-sizing: border-box;
}
img{
    max-width:100%;
    height:auto;
}
p, ul, li, a, span{
    line-height: inherit;
    color:inherit;
}
.center{
    text-align:center;
}
.col_1{
    width:8.333333%;
}
.col_2{
    width:16.666666%;
}
.col_3{
    width:25%;
}
.col_4{
    width:33.333333%;
}
.col_5{
    width:41.666666%;
}
.col_6{
    width:50%;
}
.col_7{
    width:58.333333%;
}
.col_8{
    width:66.666666%;
}
.col_9{
    width:75%;
}
.col_10{
    width:83.333333%;
}
.col_11{
    width:91.666666%;
}
.ib{
    display:inline-block;
    vertical-align:top;
    font-size:16px;
}
.ib-parent{
    font-size:0;
}
.flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    padding:10px 20px;
}